.heading{
  font-weight: bold;
  font-size: 24pt;
  margin-bottom: 40px;
}
.subheading{
  font-size: 14pt;
  margin-bottom: 20px;
}
.main{
  max-width: 50rem;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}
li{
  margin: 10px 0;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
